body {
    /* remove extra space */
    margin: 0;
    font-family:Arial;
    height: 100%;
    background-color:rgb(219, 215, 206);  
    /* Smoothly transition the background color */
    transition: background-color .5s;
}


.navigation_block {
    background-color: rgb(26, 24, 23);
    position: relative;
    width: 100%;   
    /* padding: 1px; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation_block .home_btn, .navigation_block .abt_btn, .navigation_block .ctc_btn {
    border: solid 1px rgb(87, 33, 33);
    background-color: rgb(87, 33, 33);
    color: rgb(216, 216, 201);
    display: inline-block;
    width: 120px;
    height: 40px;
    /* vertically center */
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    padding-right: 1px;
    padding-left: 1px;
    user-select: none;
}

.navigation_block .home_btn:hover, .navigation_block .abt_btn:hover, .navigation_block .ctc_btn:hover {
    background-color: rgb(216, 216, 201);
    color:rgb(87, 33, 33);
    cursor: pointer;
    transition-duration: 0.3s;
}

.player {
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}

.track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-image: url("background.jpg");
    background-size: cover;
    border-radius: 15%;
}

.track-name {
    font-size: 3rem;
}

.now-playing {
    font-size: 2rem;
}

.timer_prompt {
    font-size: 30px;
}

.response_btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}


input[type="radio"] {
    display: none;
}

label[for="toggle-unhrd"], label[for="toggle-hrd"], label[for="toggle-alhrd"]{
  width: 300px;
  display: inline-block;
  border: solid 2px rgb(87, 33, 33);
  border-radius: 5px; 
  color: rgb(216, 216, 201);
  background-color: rgb(87, 33, 33);
  font-size: 35px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  user-select: none;
}

label[for="toggle-unhrd"]:hover, label[for="toggle-hrd"]:hover, label[for="toggle-alhrd"]:hover{
    background-color: rgb(104, 52, 52);
    color: rgb(255, 255, 255);    
    cursor: pointer;
    transition-duration: 0.3s;
}

input[type="radio"]:checked + label {
    border: solid 3px red;
    font-weight: bold;
    font-style: italic;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playpause-track, .prev-track, .next-track {
    padding: 25px;
    opacity: 0.7;

    /* Smoothly transition the opacity */
    transition: opacity .2s;
}

.playpause-track:hover, .prev-track:hover, .next-track:hover {
    opacity: 1.0;
}

.slider_container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modify the appearance of the slider */
.seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

.seek_slider:hover, .volume_slider:hover {
    opacity: 1.0;
}

.seek_slider {
    width: 60%;
}

.volume_slider {
    width: 30%;
}

.current-time, .total-duration {
    padding: 10px;
    user-select: none;
}

i.fa-volume-down, i.fa-volume-up {
    padding: 10px;
}

i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
    cursor: pointer;
}


/* login popup */
/* Full-width input fields */
input[type=text] {
    font-size: 30px;
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #DE3A1F;
    font-size: 30px;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 10px 0 10px 0;
    position: relative;
  }
  
  
  .container {
    font-size: 50px;
    letter-spacing: 1px;
    text-align: center;
    padding: 16px;
  }
  
  
  /* The Modal (background) */
  .modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 180px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover, .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  