body {
    /* remove extra space */
    margin: 0;
    font-family:Arial;
}


.navigation_block {
    background-color: rgb(26, 24, 23);
    position: relative;
    width: 100%;   
    /* padding: 1px; */
}

.navigation_block .home_btn, .navigation_block .abt_btn, .navigation_block .ctc_btn {
    border: solid 1px rgb(87, 33, 33);
    background-color: rgb(87, 33, 33);
    color: rgb(216, 216, 201);
    display: inline-block;
    width: 120px;
    height: 40px;
    /* vertically center */
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    padding-right: 1px;
    padding-left: 1px;

}

.navigation_block .home_btn:hover, .navigation_block .abt_btn:hover, .navigation_block .ctc_btn:hover {
    background-color: rgb(216, 216, 201);
    color:rgb(87, 33, 33);
    cursor: pointer;
    transition-duration: 0.3s
}


.main_block {
    position: absolute;
    width: 100%;
    top: 40px;
    bottom: 0;
    /* ref: https://www.pexels.com/search/website%20background/ */
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center 70%;
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
    /* border: black solid 2px; */
}


.description {
    white-space: pre-line;

    position: absolute;
    /* position: relative; */
    display: block;
    left: 40%;
    top: 22%;
 
    color: rgb(34, 32, 20);
    -webkit-text-stroke:rgb(63, 63, 54) 1px;
    font-size: 80px;
    text-align: center;
    letter-spacing: 3px;   
    /* border: black solid 2px; */
}

.start_btn {
    position: absolute;
    /* position: relative; */
    display: inline-block;
    top: 48%;
    left: 27.7%;

    font-size: 35px;
    border-radius: 5px;
    color: rgb(230, 222, 212);
    background-color: #DE3A1F;
    text-decoration: none;
    cursor: pointer;
    padding:10px;
    letter-spacing: 1px;
    /* border: solid; */
}

.start_btn:hover {
    background-color: rgb(223, 199, 65);
    color: rgb(34, 32, 20);
    font-weight: bold;
    transition-duration: 0.5s
}


/* Full-width input fields */
input[type=text] {
  font-size: 30px;
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #DE3A1F;
  font-size: 30px;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
}

button:hover {
  opacity: 0.8;
}


/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 10px 0 10px 0;
  position: relative;
}


.container {
  font-size: 50px;
  letter-spacing: 1px;
  text-align: center;
  padding: 16px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 180px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
